@import "../styles/_variables.scss";

body {
  margin: 0;
  padding: 0;
  background: #eb5757;
  background: linear-gradient(to left, #000000, #490b0b);
  background: -webkit-linear-gradient(to right, #000000, #eb5757);
  font-family: $fontSecondary;
  color: $color-white;
}
