@import "../styles/_variables.scss";

body {
  margin: 0;
  padding: 0;
  background: rgb(73, 11, 11);
  background: radial-gradient(
    circle,
    rgba(73, 11, 11, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: $fontSecondary;
  color: $color-white;
}
