@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Raleway:wght@300;400;700;900&display=swap");

//Colors
$color-vader: #b5232a;
$color-luke: #2e67f8;
$color-orange: #f77924;
$color-indigo: #4264cc;
$color-yellow: #dac149;
$color-windu: #5d008b;
$color-magenta: #c067d0;
$color-owk: #2cfa2f;
$color-cyan: #4f8bae;
$color-white: #d1d1d1;
$color-light: #6a8e97;

//Radius
$border-radius-size: 30px;

// Size
$base: 0.4rem;

//Size Desktop
$sizeHeadline1Desktop: $base * 8.75; //52px
$sizeHeadline2Desktop: $base * 7.5; //48px
$sizeHeadline3Desktop: $base * 6.25; //40px
$sizeHeadline4Desktop: $base * 5; //32px
$sizeLogoDesktop: $base * 3.75; //24px
$sizeBodyDesktop: $base * 2.5; //16px
$sizeBodyDesktop2: $base * 1.25; //8px
$sizeButtonTextDesktop: $base * 3.125; //20

//Font Family
$fontTitle: "Merriweather", serif;
$fontSecondary: "Raleway", sans-serif;
