@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Raleway:wght@300;400;700;900&display=swap");

//Colors
$color-vader: #b5232a;
$color-luke: #2e67f8;
$color-orange: #f77924;
$color-indigo: #4264cc;
$color-yellow: #dac149;
$color-windu: #5d008b;
$color-magenta: #c067d0;
$color-owk: #2cfa2f;
$color-cyan: #4f8bae;
$color-white: #d1d1d1;
$color-light: #6a8e97;
//Radius
$border-radius-size: 30px;

// Size
$base: 0.4rem;

//Size Desktop
$sizeHeadline1Desktop: $base * 8.6;
$sizeHeadline2Desktop: $base * 6.25;
$sizeHeadline3Desktop: $base * 4.7;
$sizeHeadline4Desktop: $base * 3.3;
$sizeButtonTextDesktop: $base * 3.3;
$sizeBodyDesktop: $base * 2.8;
$sizeLogoDesktop: $base * 15;

//Font Family
$fontTitle: "Merriweather", serif;
$fontSecondary: "Raleway", sans-serif;
